<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{title}}</h1>
{{#if conocido}}
<p>Mensaje de: {{nombre}}</p>
<br>
<p>{{texto}}</p>
<a href="/salir">Salir</a>
{{/if}}

{{#unless conocido}}
<p>Deja tu mensaje con tu nombre aqui</p>
<form action="/ingresar" method="post">
  <input type="text" name="nombre"><br>
  <textarea name="texto" cols="30" rows="10"></textarea><br>
  <button>Enviar!</button>
</form>
{{/unless}}
</body>
</html>